@page "/"
@inject IToastService toastService


<h1>Hello, world!</h1>

Welcome to your new app.
<button class="btn  btn-info" @onclick="@(() => toastService.ShowInfo("I'm an INFO message"))">Info Toast</button>
